<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string></string>
	</array>
	<key>Item</key>
	<string>LuckiestGuy-Regular.ttf</string>
	<key>Font1</key>
	<string>SFProText-Regular.ttf</string>
	<key>Font2</key>
	<string>SFProText-Bold.ttf</string>
	<key>Font3</key>
	<string>SFProText-Semibold.ttf</string>
	<key>Font4</key>
	<string>Inter-Medium.otf</string>
	<key>Font5</key>
	<string>Inter-Regular.otf</string>
	<key>Font6</key>
	<string>SF-Pro-Text-Black.otf</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
